.sidebar-posts-filter {
	width: 130px;
	padding: 3.5px 10px;
	min-height: 30px;
	margin-top: -0.5em;
	margin-bottom: -0.5em;
	background-color: var(--color-background);
	background-clip: padding-box;
}

.sidebar-list {
	transition: opacity .2s ease;
}

.sidebar-list.loading {
	opacity: .2;
	pointer-events: none;
}
