{{#get "posts" include="tags,tiers" filter=filter}}
{{#if posts}}
<section class="section section-posts container-wide">
	<h2 class="section-title">{{../title}}</h2>
	<div class="section-list">
		{{#foreach posts}}
			{{> "components/card-event" has_image=true}}
		{{/foreach}}
	</div>
</section>
{{/if}}
{{/get}}