<nav class="breadcrumbs navigation">
	<ul>
		<li><a class="nav-link" href="{{@site.url}}">{{t "Home"}}</a></li>
		<li>{{> "icons/chevron-right"}}</li>
		<li><a class="nav-link" href="{{@site.url}}/tags/">{{t "Tags"}}</a></li>
	</ul>
</nav>
